---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Jok-Holk Base">
    <section id="home" class="text-gray-300 body-font">
        <div class="container flex px-40 pt-80 pb-64 mx-auto">
            <div class="w-1/2 pr-8">
                <h1 class="text-6xl text-white mb-4 font-mono">Hello,</h1>
                <h1 class="text-6xl text-white mb-16 font-mono">
                    I'm <span class="text-purple-500 font-mono">Jok</span>
                </h1>
                <h2 class="text-3xl mb-8 font-mono text-gray-400">
                    <span class="text-purple-600 hidden md:inline">&gt;</span>
                    <span id="typed-text"></span>
                </h2>
                <h3 class="text-lg mb-8 font-mono text-gray-400">
                    Welcome to my digital realm — built with passion. I’m a student of
                    <span class="text-purple-400">software </span> and
                    <span class="text-purple-400">game development</span>, creating <span class="text-purple-400"
                        >web</span
                    >, <span class="text-purple-400">apps</span>, and <span class="text-purple-400">indie games</span>,
                    with a goal to become a <span class="text-purple-400">cybersecurity expert</span>.
                </h3>
            </div>
            <div class="w-1/2 pl-8">
                <img class="rounded-full w-96 h-96 mx-auto" src="/avatar.jpg" alt="avatar" />
            </div>
        </div>
        <section id="about" class="text-gray-300 body-font pb-40">
            <div class="container px-32 py-32 mx-auto">
                <a class="flex items-center text-purple-600 gap-4 mb-8">
                    <svg
                        xmlns="http://www.w3.org/2000/svg"
                        fill="none"
                        viewBox="0 0 24 24"
                        stroke-width="1.5"
                        stroke="currentColor"
                        class="w-10 h-10"
                    >
                        <path
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            d="M15.75 6a3.75 3.75 0 11-7.5 0 3.75 3.75 0 017.5 0zM4.501 20.118a7.5 7.5 0 0114.998 0A17.933 17.933 0 0112 21.75c-2.676 0-5.216-.584-7.499-1.632z"
                        ></path>
                    </svg>
                    <h1 class="text-4xl md:text-5xl text-white font-mono ml-2">whoami</h1>
                </a>
                <div class="container flex flex-col md:flex-row px-4 py-16">
                    <div class="w-full md:w-1/2 pr-8 my-auto">
                        <h3 class="text-lg mb-8 font-mono text-gray-400">
                            I’m a student studying <span class="text-purple-400">software and game development</span>,
                            constantly learning through building <span class="text-purple-400">apps</span>, <span
                                class="text-purple-400">websites</span
                            >, and <span class="text-purple-400">indie games</span>. These projects not only fuel my
                            creativity but also strengthen my foundation in <span class="text-purple-400"
                                >programming</span
                            > and <span class="text-purple-400">software design</span>, which I see as essential steps
                            toward my long-term goals.
                        </h3>
                        <h3 class="text-lg mb-8 font-mono text-gray-400">
                            My main direction is <span class="text-purple-400">cybersecurity</span> — I aim to dive into
                            system protection, ethical hacking, and defensive strategies to better understand how technology
                            can be safeguarded. At the same time, I take on freelance <span class="text-purple-400"
                                >web projects</span
                            > with modern tools like <span class="text-purple-400">Astro</span> and explore building an <span
                                class="text-purple-400">indie game studio</span
                            >. These experiences aren’t my final destination, but they provide valuable programming
                            practice and broaden my perspective, making me stronger as I move toward a career in
                            cybersecurity.
                        </h3>
                    </div>

                    <div class="w-full md:w-1/2 pl-8">
                        <div id="custom-controls-gallery" class="relative w-full" data-carousel="slide">
                            <!-- Carousel wrapper -->
                            <div class="relative h-96 overflow-hidden rounded-xl md:h-[600px]">
                                <!-- Item 0 -->
                                <div class="hidden duration-2500 ease-in-out" data-carousel-item="active">
                                    <img
                                        src="/Image0.jpg"
                                        class="w-full h-full object-cover object-center"
                                        alt="Image0"
                                    />
                                </div>
                                <!-- Item 1 -->
                                <div class="hidden duration-2500 ease-in-out" data-carousel-item>
                                    <img
                                        src="/Image1.jpg"
                                        class="w-full h-full object-cover object-center"
                                        alt="Image1"
                                    />
                                </div>
                                <!-- Item 2 -->
                                <div class="hidden duration-2500 ease-in-out" data-carousel-item>
                                    <img
                                        src="/Image2.jpg"
                                        class="w-full h-full object-cover object-center"
                                        alt="Image2"
                                    />
                                </div>
                                <!-- Item 3 -->
                                <div class="hidden duration-2500 ease-in-out" data-carousel-item>
                                    <img
                                        src="/Image3.jpg"
                                        class="w-full h-full object-cover object-center"
                                        alt="Image3"
                                    />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section id="education" class="text-gray-300 body-font">
            <div class="container px-32 py-32 mx-auto">
                <div class="flex items-center text-purple-600 gap-4 mb-8">
                    <svg
                        xmlns="http://www.w3.org/2000/svg"
                        fill="none"
                        viewBox="0 0 24 24"
                        stroke-width="1.5"
                        stroke="currentColor"
                        class="w-10 h-10"
                    >
                        <path
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            d="M4.26 10.147a60.438 60.438 0 0 0-.491 6.347A48.62 48.62 0 0 1 12 20.904a48.62 48.62 0 0 1 8.232-4.41 60.46 60.46 0 0 0-.491-6.347m-15.482 0a50.636 50.636 0 0 0-2.658-.813A59.906 59.906 0 0 1 12 3.493a59.903 59.903 0 0 1 10.399 5.84c-.896.248-1.783.52-2.658.814m-15.482 0A50.717 50.717 0 0 1 12 13.489a50.702 50.702 0 0 1 7.74-3.342M6.75 15a.75.75 0 1 0 0-1.5.75.75 0 0 0 0 1.5Zm0 0v-3.675A55.378 55.378 0 0 1 12 8.443m-7.007 11.55A5.981 5.981 0 0 0 6.75 15.75v-1.5"
                        ></path>
                    </svg>
                    <h1 class="text-4xl md:text-5xl text-white font-mono ml-2">education</h1>
                </div>
                <div class="font-mono">
                    <ol class="relative border-s border-gray-200 dark:border-gray-700 space-y-8">
                        <li class="mb-10 ms-6 border border-purple-500/40 rounded-lg p-6">
                            <span
                                class="absolute flex items-center justify-center w-6 h-6 bg-purple-100 rounded-full -start-3 ring-8 ring-white dark:ring-gray-900 dark:bg-purple-900"
                            >
                                <svg
                                    class="w-2.5 h-2.5 text-purple-800 dark:text-purple-300"
                                    aria-hidden="true"
                                    xmlns="http://www.w3.org/2000/svg"
                                    fill="currentColor"
                                    viewBox="0 0 20 20"
                                >
                                    <path
                                        d="M20 4a2 2 0 0 0-2-2h-2V1a1 1 0 0 0-2 0v1h-3V1a1 1 0 0 0-2 0v1H6V1a1 1 0 0 0-2 0v1H2a2 2 0 0 0-2 2v2h20V4ZM0 18a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V8H0v10Zm5-8h10a1 1 0 0 1 0 2H5a1 1 0 0 1 0-2Z"
                                    ></path>
                                </svg>
                            </span>
                            <time
                                class="block mb-2 text-base font-normal leading-none text-purple-500 dark:text-purple-400"
                            >
                                October 2024 - Present
                            </time>
                            <h3 class="flex items-center mb-1 text-xl font-semibold text-gray-900 dark:text-white">
                                FUNiX Online University
                            </h3>
                            <p class="mb-4 text-lg font-normal text-gray-500 dark:text-gray-400">
                                Software Engineer Program
                            </p>
                        </li>

                        <li class="ms-6 border border-purple-500/40 rounded-lg p-6">
                            <span
                                class="absolute flex items-center justify-center w-6 h-6 bg-purple-100 rounded-full -start-3 ring-8 ring-white dark:ring-gray-900 dark:bg-purple-900"
                            >
                                <svg
                                    class="w-2.5 h-2.5 text-purple-800 dark:text-purple-300"
                                    aria-hidden="true"
                                    xmlns="http://www.w3.org/2000/svg"
                                    fill="currentColor"
                                    viewBox="0 0 20 20"
                                >
                                    <path
                                        d="M20 4a2 2 0 0 0-2-2h-2V1a1 1 0 0 0-2 0v1h-3V1a1 1 0 0 0-2 0v1H6V1a1 1 0 0 0-2 0v1H2a2 2 0 0 0-2 2v2h20V4ZM0 18a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V8H0v10Zm5-8h10a1 1 0 0 1 0 2H5a1 1 0 0 1 0-2Z"
                                    ></path>
                                </svg>
                            </span>
                            <time
                                class="block mb-2 text-base font-normal leading-none text-purple-500 dark:text-purple-400"
                            >
                                January 2025 - Present
                            </time>
                            <h3 class="mb-1 text-xl font-semibold text-gray-900 dark:text-white">
                                FPT Polytechnic College
                            </h3>
                            <p class="text-lg font-normal text-gray-500 dark:text-gray-400">Game Programming</p>
                        </li>
                    </ol>
                </div>
            </div>
        </section>

        <section id="contact" class="text-gray-300 body-font">
            <div class="container px-40 py-80 mx-auto">
                <h1 class="sm:text-3xl text-2xl font-medium title-font mb-4 text-purple-400">Contact</h1>
            </div>
        </section>

        <script>
            import Typed from 'typed.js';

            if (typeof window !== 'undefined') {
                new Typed('#typed-text', {
                    strings: [
                        'A Software Engineer',
                        'A Indie Game Developer',
                        'A Web Freelancer',
                        'A Cybersecurity Apprentice',
                    ],
                    typeSpeed: 45,
                    backSpeed: 40,
                    backDelay: 1500,
                    loop: true,
                });
            }
            import 'flowbite';
        </script>
    </section>
</Layout>
