---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Your Portfolio">
    <section id="home" class="text-gray-300 body-font">
        <div class="container px-5 py-24 mx-auto">
            <h1 class="sm:text-3xl text-2xl font-medium title-font mb-4 text-purple-400 text-center">Home</h1>
        </div>
    </section>

    <section id="about" class="text-gray-300 body-font">
        <div class="container px-5 py-24 mx-auto">
            <h1 class="sm:text-3xl text-2xl font-medium title-font mb-4 text-purple-400 text-center">About</h1>
        </div>
    </section>

    <section id="education" class="text-gray-300 body-font">
        <div class="container px-5 py-24 mx-auto">
            <h1 class="sm:text-3xl text-2xl font-medium title-font mb-4 text-purple-400 text-center">Education</h1>
        </div>
    </section>

    <section id="contact" class="text-gray-300 body-font">
        <div class="container px-5 py-24 mx-auto">
            <h1 class="sm:text-3xl text-2xl font-medium title-font mb-4 text-purple-400 text-center">Contact</h1>
        </div>
    </section>
</Layout>
