<section id="about" class="text-gray-300 body-font pb-40">
    <div class="container px-32 pt-32 mx-auto">
        <a class="flex items-center text-purple-600 gap-4 mb-8">
            <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                class="w-10 h-10"
            >
                <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M15.75 6a3.75 3.75 0 11-7.5 0 3.75 3.75 0 017.5 0zM4.501 20.118a7.5 7.5 0 0114.998 0A17.933 17.933 0 0112 21.75c-2.676 0-5.216-.584-7.499-1.632z"
                ></path>
            </svg>
            <h1 class="text-4xl md:text-5xl text-white font-mono ml-2">whoami</h1>
        </a>
        <div class="container flex flex-col md:flex-row px-4 py-16">
            <div class="w-full md:w-1/2 pr-8 my-auto">
                <h3 class="text-lg mb-8 font-mono text-gray-400">
                    I’m a student studying <span class="text-purple-400">software and game development</span>,
                    constantly learning through building <span class="text-purple-400">apps</span>, <span
                        class="text-purple-400">websites</span
                    >, and <span class="text-purple-400">indie games</span>. These projects not only fuel my creativity
                    but also strengthen my foundation in <span class="text-purple-400">programming</span>
                    and <span class="text-purple-400">software design</span>, which I see as essential steps toward my
                    long-term goals.
                </h3>
                <h3 class="text-lg mb-8 font-mono text-gray-400">
                    My main direction is <span class="text-purple-400">cybersecurity</span> — I aim to dive into system protection,
                    ethical hacking, and defensive strategies to better understand how technology can be safeguarded. At
                    the same time, I take on freelance <span class="text-purple-400">web projects</span> with modern tools
                    like <span class="text-purple-400">Astro</span> and explore building an <span
                        class="text-purple-400">indie game studio</span
                    >. These experiences aren’t my final destination, but they provide valuable programming practice and
                    broaden my perspective, making me stronger as I move toward a career in cybersecurity.
                </h3>
            </div>

            <div class="w-full md:w-1/2 pl-8">
                <div id="custom-controls-gallery" class="relative w-full" data-carousel="slide">
                    <!-- Carousel wrapper -->
                    <div class="relative h-96 overflow-hidden rounded-xl md:h-[600px]">
                        <!-- Item 0 -->
                        <div class="hidden duration-2500 ease-in-out" data-carousel-item="active">
                            <img src="/Image0.jpg" class="w-full h-full object-cover object-center" alt="Image0" />
                        </div>
                        <!-- Item 1 -->
                        <div class="hidden duration-2500 ease-in-out" data-carousel-item>
                            <img src="/Image1.jpg" class="w-full h-full object-cover object-center" alt="Image1" />
                        </div>
                        <!-- Item 2 -->
                        <div class="hidden duration-2500 ease-in-out" data-carousel-item>
                            <img src="/Image2.jpg" class="w-full h-full object-cover object-center" alt="Image2" />
                        </div>
                        <!-- Item 3 -->
                        <div class="hidden duration-2500 ease-in-out" data-carousel-item>
                            <img src="/Image3.jpg" class="w-full h-full object-cover object-center" alt="Image3" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        import 'flowbite';
    </script>
</section>
