<section id="education" class="text-gray-300 body-font">
    <div class="container px-32 pt-32 mx-auto">
        <div class="flex items-center text-purple-600 gap-4 mb-8">
            <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                class="w-10 h-10"
            >
                <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M4.26 10.147a60.438 60.438 0 0 0-.491 6.347A48.62 48.62 0 0 1 12 20.904a48.62 48.62 0 0 1 8.232-4.41 60.46 60.46 0 0 0-.491-6.347m-15.482 0a50.636 50.636 0 0 0-2.658-.813A59.906 59.906 0 0 1 12 3.493a59.903 59.903 0 0 1 10.399 5.84c-.896.248-1.783.52-2.658.814m-15.482 0A50.717 50.717 0 0 1 12 13.489a50.702 50.702 0 0 1 7.74-3.342M6.75 15a.75.75 0 1 0 0-1.5.75.75 0 0 0 0 1.5Zm0 0v-3.675A55.378 55.378 0 0 1 12 8.443m-7.007 11.55A5.981 5.981 0 0 0 6.75 15.75v-1.5"
                ></path>
            </svg>
            <h1 class="text-4xl md:text-5xl text-white font-mono ml-2">education</h1>
        </div>
        <div class="font-mono">
            <ol class="relative border-s border-gray-200 dark:border-gray-700 space-y-8">
                <li class="mb-10 ms-6 border border-purple-500/40 rounded-lg p-6">
                    <span
                        class="absolute flex items-center justify-center w-6 h-6 bg-purple-100 rounded-full -start-3 ring-8 ring-white dark:ring-gray-900 dark:bg-purple-900"
                    >
                        <svg
                            class="w-2.5 h-2.5 text-purple-800 dark:text-purple-300"
                            aria-hidden="true"
                            xmlns="http://www.w3.org/2000/svg"
                            fill="currentColor"
                            viewBox="0 0 20 20"
                        >
                            <path
                                d="M20 4a2 2 0 0 0-2-2h-2V1a1 1 0 0 0-2 0v1h-3V1a1 1 0 0 0-2 0v1H6V1a1 1 0 0 0-2 0v1H2a2 2 0 0 0-2 2v2h20V4ZM0 18a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V8H0v10Zm5-8h10a1 1 0 0 1 0 2H5a1 1 0 0 1 0-2Z"
                            ></path>
                        </svg>
                    </span>
                    <time class="block mb-2 text-base font-normal leading-none text-purple-500 dark:text-purple-400">
                        October 2024 - Present
                    </time>
                    <h3 class="flex items-center mb-1 text-xl font-semibold text-gray-900 dark:text-white">
                        FUNiX Online University
                    </h3>
                    <p class="mb-4 text-lg font-normal text-gray-500 dark:text-gray-400">Software Engineer Program</p>
                </li>

                <li class="ms-6 border border-purple-500/40 rounded-lg p-6">
                    <span
                        class="absolute flex items-center justify-center w-6 h-6 bg-purple-100 rounded-full -start-3 ring-8 ring-white dark:ring-gray-900 dark:bg-purple-900"
                    >
                        <svg
                            class="w-2.5 h-2.5 text-purple-800 dark:text-purple-300"
                            aria-hidden="true"
                            xmlns="http://www.w3.org/2000/svg"
                            fill="currentColor"
                            viewBox="0 0 20 20"
                        >
                            <path
                                d="M20 4a2 2 0 0 0-2-2h-2V1a1 1 0 0 0-2 0v1h-3V1a1 1 0 0 0-2 0v1H6V1a1 1 0 0 0-2 0v1H2a2 2 0 0 0-2 2v2h20V4ZM0 18a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V8H0v10Zm5-8h10a1 1 0 0 1 0 2H5a1 1 0 0 1 0-2Z"
                            ></path>
                        </svg>
                    </span>
                    <time class="block mb-2 text-base font-normal leading-none text-purple-500 dark:text-purple-400">
                        January 2025 - Present
                    </time>
                    <h3 class="mb-1 text-xl font-semibold text-gray-900 dark:text-white">FPT Polytechnic College</h3>
                    <p class="text-lg font-normal text-gray-500 dark:text-gray-400">Game Programming</p>
                </li>
            </ol>
        </div>
    </div>
</section>
